{% extends 'TheMountainMainBundle::layout.html.twig' %}

{% block title %}
    Like Your Way To Maui! Radio Contest on The New 93-9 The Mountain
{% endblock %}

{% block description %}
    <meta name="description" content="Like Your Way To Maui!  Northern Arizona Radio Contest on The New 93-9 The Mountain"/>
    <meta property="og:site_name" content="http://939themountain.gcmaz.com" />
    <meta property="fb:admins" content="100003228578475" />
    <meta property="fb:app_id" content="159639224186993" />
    <meta property="og:type" content="music.radio_station" />
    <meta property="og:image" content="http://939themountain.gcmaz.com{{ asset('images/660x250/maui2013.jpg') }}"/>
    <meta property="og:url" content="http://939themountain.gcmaz.com{{ path('TheMountainMainBundle_contest', {'contest': 'like-your-way-to-maui'}) }}"/>
    <meta property="og:title" content="Like Your Way To Maui!  Radio Contest on The New 93-9 The Mountain"/> 
    <meta property="og:description" content="Like Your Way To Maui!  Northern Arizona Radio Contest on The New 93-9 The Mountain"/>
{% endblock %}

{% block keywords %}
    <meta name="keywords" content="radio, contest, win a trip to Maui, win a trip to Hawaii, Flagstaff, Prescott"/>
{% endblock %}

{% block content %}
    <div class="arial centered contest" style="background-color:#fff;">
        <img src="{{ asset('images/660x250/maui2013.jpg') }}" width="660" height="250" alt="Play Like Your Way To Maui!" usemap="#ccc" style="border:1px solid white;"/>
        <p style="font-weight:600;font-size:1.2em;width:90%;color:#000;">
            <span class="red">Like Your Way to Maui</span> presented by <a href="http://www.cliffcastlecasinohotel.com/" target="_blank" style="color:#000;text-decoration:none;">Cliff Castle Casino Hotel</a>.  The more the <span class="blue">"Likes"</span> the more chances you have to win!
        </p>
        <p style="font-size:1em;margin:auto;float:left;width:45%;color:#000;">
            "Like" the following sponsors pages and fill out the form on each page and you'll be registered for a <span style="font-weight:600;">7 Day and 6 Night Stay in Maui</span> at the Ka'anapalli Beach Hotel.  With each "Like" you will increase your chances of winning.
        </p>
        <p style="float:right;width:45%;font-size:0.9em;margin-top:1.5em;color:#000;">
            <a href="#details" style="font-weight: 600;font-size: 0.7em;text-decoration:none;color:#333;margin-top:-2px;">
                <img src="{{asset('images/sponsors/kaanapali-beach-hotel.jpg')}}" width="280" height="auto" alt="Ka'anapali Beach Hotel" border="0" />
                More about Ka'anapali Beach Hotel &raquo;
            </a>
            <br/><br/>
            <a href="http://www.kaanapaliresort.com/" target="_blank">
                <img src="{{asset('images/sponsors/kaanapali-beach-resort.jpg')}}" width="170" height="auto" alt="Ka'anapali Beach Resort" border="0" />
            </a>
        </p>
        <p class="clear" style="font-size:1.2em;font-weight:600;width:70%;color:#43609c;">
            We'll announce a qualifier each weekday beginning on Monday Oct 7th
        </p>
        <p style="font-weight:600;font-size:1.2em;width:90%;color:#000;">
            All qualifiers will get to come to our Cash party at <a href="http://www.cliffcastlecasinohotel.com/" target="_blank" style="color:#000;text-decoration:none;">Cliff Castle Casino Hotel</a> and have their chance at cash, prizes and one of TWO trips to Maui.    
        </p>
        <div class="centered sponsors">
            <p style="font-size:0.8em;font-weight:bold;color:#666;padding:3px;margin-top:10px;background-color:#eaeaea;">Sponsors (Note: Not all sponsors are participating in the Facebook Entry)</p>
            <ul style="width:200px;list-style-type:none;margin:0 auto;padding:0;display:inline-block;vertical-align: top;">
                <li><a href="http://a.pgtb.me/W2lSrW" target="_blank"><img src="{{asset('images/sponsors/cliff-castle-casino-hotel.jpg')}}" width="150" height="auto" /></a></li>
                <li><a href="http://a.pgtb.me/Dkg6LQ" target="_blank"><img src="{{asset('images/sponsors/939mtn.jpg')}}" width="110" height="auto" /></a></li>
                <li><a href="http://a.pgtb.me/fNXZTQ" target="_blank"><img src="{{asset('images/sponsors/106hits.jpg')}}" width="110" height="auto" /></a></li>
                <li><a href="http://a.pgtb.me/HRvcDC" target="_blank"><img src="{{asset('images/sponsors/old-trails-true-value.jpg')}}" width="140" height="auto" /></a></li>
                <li><a href="http://a.pgtb.me/14kBh0" target="_blank"><img src="{{asset('images/sponsors/ferrellgas.jpg')}}" width="140" height="auto" /></a></li>
            </ul>
            <ul style="width:200px;list-style-type:none;margin:0 auto;padding:0;display:inline-block;vertical-align: top;">
                <li><a href="http://www.kbhmaui.com/" target="_blank"><img src="{{asset('images/sponsors/kaanapali-beach-hotel.jpg')}}" width="190" height="auto" style="margin:40px auto 20px;"/></a></li>
                <li><a href="http://a.pgtb.me/N42lWX" target="_blank"><img src="{{asset('images/sponsors/935flagcountry.jpg')}}" width="110" height="auto" /></a></li>
                <li><a href="https://www.facebook.com/pages/Cowboy-Shop/112769262148232" target="_blank"><img src="{{asset('images/sponsors/cowboy-shop.jpg')}}" width="180" height="auto" style="margin:20px auto;"/></a></li>
                <li><a href="https://www.facebook.com/BoysAndGirlsClubOfFlagstaff" target="_blank"><img src="{{asset('images/sponsors/boys-girls-club.jpg')}}" width="130" height="auto" /></a></li>
            </ul>
             <ul style="width:200px;list-style-type:none;margin:0 auto;padding:0;display:inline-block;vertical-align: top;">
                <li><a href="http://kaanapaliresort.com/" target="_blank"><img src="{{asset('images/sponsors/kaanapali-beach-resort.jpg')}}" width="140" height="auto" /></a></li>
                <li><a href="http://a.pgtb.me/xwTfJP" target="_blank"><img src="{{asset('images/sponsors/929kaff.jpg')}}" width="120" height="auto" /></a></li>
                <li><a href="http://a.pgtb.me/QHkkgx" target="_blank"><img src="{{asset('images/sponsors/highlands-floor-window.jpg')}}" width="150" height="auto" style="margin:20px auto;" /></a></li>
                <li><a href="http://a.pgtb.me/z3D89l" target="_blank"><img src="{{asset('images/sponsors/mccullough.jpg')}}" width="190" height="auto" style="margin:30px auto;" /></a></li>
            </ul>
            <br class="clear" />
        </div>
        <p><a href="http://www.gcmaz.com/uploads/media/default/0001/01/cd833110446c0e2cf8970d421a872812a01502ca.pdf" target="_blank" style="text-decoration:none;color:#666;font-size:10px;">Official Rules</a></p>
        <div class="fb-like" data-href="http://939themountain.gcmaz.com{{ path('TheMountainMainBundle_contest', {'contest':'like-your-way-to-maui'}) }}" data-send="true" data-width="450" data-show-faces="true" data-font="arial"></div>
        <br/>
        <div style="text-align: left;font-size:0.8em;">
            <a name="details"></a>
            <img src="{{asset('images/sponsors/kaanapali-beach-hotel.jpg')}}" width="280" height="auto" alt="Ka'anapali Beach Hotel" border="0" />
            <p style="font-size:1.5em;font-weight: 700;color:#000;">Ka‘anapali Beach Hotel <a href="http://www.kbhmaui.com/" target="_blank" style="font-size:0.8em;color:#039;text-decoration:none;font-weight: 600;margin-left:20px;">Visit Website &raquo;</a></p>
            <p style="color:#000;">
                Located in the heart of Maui’s premier resort fronting the flawless three-mile stretch of world-famous Kaanapali Beach, Kaanapali Beach Hotel is officially recognized as “Hawai‘i’s Most Hawaiian Hotel” and #1 Best Value in Hawaii. With 432 rooms, award-winning affordable dining options and a poolside bar & grill, this is the ideal setting to turn Hawaiian dreams into lifelong memories. Serenades performed by staff, Hawaii regional cuisine, complimentary sunset hula show and live Hawaiian entertainment every evening, complimentary daily interactive Hawaiian cultural activities, free year ‘round children’s program, weekly arts & crafts fair, welcome breakfast and departure kukui lei ceremony add to the value. Enjoy Hawaiian hookipa (hospitality)…aloha at its best!
            </p>
            <br/><br/>
        </div>
    </div>
    <map id="kbh" name="ccc">
        <area shape="rect" coords="75,200,292,239" target="_blank" href="http://www.kbhmaui.com/" />
        <area shape="rect" coords="486,144,660,250" target="_blank" href="http://www.cliffcastlecasinohotel.com/" />
    </map>
{% endblock %}