{% extends 'TheMountainMainBundle::layout.html.twig' %}

{% block title %}
    Community Information - Flagstaff - Prescott - Sedona - Grand Canyon - Northern Arizona
{% endblock %}

{% block description %}
    <meta name="description" content="Community Information - Flagstaff - Prescott - Sedona - Grand Canyon - Northern Arizona"/>
    <meta property="og:site_name" content="http://939themountain.gcmaz.com" />
    <meta property="fb:admins" content="100003228578475" />
    <meta property="fb:app_id" content="159639224186993" />
    <meta property="og:type" content="activity" />   
    <meta property="og:image" content="http://939themountain.gcmaz.com{{ asset('/images/logo-939themountain.png') }}"/>
    <meta property="og:url" content="http://939themountain.gcmaz.com{{ path('TheMountainMainBundle_community') }}"/>
    <meta property="og:title" content="Community Information - Flagstaff - Prescott - Sedona - Grand Canyon - Northern Arizona"/> 
    <meta property="og:description" content="Community Information - Flagstaff - Prescott - Sedona - Grand Canyon - Northern Arizona"/>
{% endblock %}

{% block keywords %}
    <meta name="keywords" content="Community, Flagstaff, Prescott, Sedona, Grand Canyon, Northern Arizona"/>
{% endblock %}

{% block exp_leaderboard %}
    {# disappearing top 660x150 banner #}
    <div id="expleaderboard">
        <a href="http://www.collegeamerica.edu/" target="_blank">
            <img src="{{ asset('images/660x150/college-america.jpg') }}" width="660" height="150" alt="Get Your Degree in as little as 15-20 months at College America" />
        </a>
    </div>
{% endblock %}
    
{% block content %}
    <img src="{{ asset('images/community.png') }}" width="600" height="100" alt="Community Info - Northern Arizona, Flagstaff, Prescott, Sedona, Grand Canyon"/>
    <iframe src="http://www.939themountain.com/community2.php" width="660" height="900"></iframe>
    <br/>
    <div class="fb-like" data-href="http://magic991.gcmaz.com{{ path('TheMountainMainBundle_community') }}" data-send="true" data-width="450" data-show-faces="true" data-font="arial"></div>
{% endblock %}